<head>
    <meta charset="utf-8" />
  
    <style type="text/css">
      body {
      font-family: "Microsoft YaHei UI";
  }
  
  .text {
      margin-top: 5px;
      word-break: break-all;
      white-space: pre-wrap;
  
  }
  
  .main-box {
      padding: 5px;
  }
    </style>
  
  </head>
  <body>
    <div id="main" class="main-box">
      <div class="text">帮助列表         当前版本：0.1.9  最新版本0.2.0
  ===========================================
  wws bind/set/绑定 服务器 游戏昵称：绑定QQ与游戏账号
  wws 查询绑定/查绑定/绑定列表[me][@]：查询指定用户的绑定账号
  wws 切换绑定[id]：使用查绑定中的序号快速切换绑定账号
  wws [服务器+游戏昵称][@群友][me]：查询账号总体战绩
  wws [服务器+游戏昵称][@群友][me] recent [日期]：查询账号近期战绩，默认1天
  wws [服务器+游戏昵称][@群友][me] ship 船名：查询单船总体战绩
  wws rank/ship.rank [服务器][战舰名]：查询单船排行榜
  wws [搜/查船名] [国家][等级][类型]：查找符合条件的舰船中英文名称
  wws 检查更新
  [待开发] wws ship recent
  以上指令参数顺序均无强制要求，即你完全可以发送wws eu 7 recent Test以查询欧服Test七天内的战绩
  搭建bot请加群申请token：967546463，bug反馈请在群内@本心/雨季或开issue
  项目开源地址：https://github.com/benx1n/HikariBot
  如果您觉得bot还可以的话请点个star哦~</div>
    </div>
  </body>