<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        font-size: 26px;
        font-family: "Microsoft YaHei UI";
    }

    .font-size {
        font-weight: bold;
        font-size: 28px;
    }

    .font-data {
        font-weight: bold;
    }

    .greyColor {
        color: #696969;
    }

    .greyColor2 {
        color: #404040;
    }

    .blueColor {
        font-weight: bold;
        color: #000080;
    }

    .blackColor {
        font-weight: bold;
        color: black;
    }

    .bold-data {
        font-weight: bold;
    }


    table {
        border-spacing: 20px 15px;
        text-align: center;
    }
</style>

<body>
    <div>
        <table id="ship-data" width="920" style="table-layout: fixed;">
            <tr>
                <td colspan="6" class="font-data">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span
                        style="text-align: center;color: #A00DC5;font-size : 35px;">[茶会]</span><sup
                        style="color:green">CN</sup>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="font-data">
                    <span>被酒莫惊春睡重，赌书消得泼茶香，当时只道是寻常。</span>

                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: center;background-color: #A00DC5">3000 神佬平均</td>
            </tr>
            <tr>
                <td colspan="1" style="text-align: center;"></td>
                <td colspan="2" style="text-align: center;">创建日期</td>
                <td colspan="2" style="text-align: center;">更新日期</td>
                <td colspan="1" style="text-align: center;"></td>
            </tr>
            <tr>
                <td colspan="1" style="text-align: center;"></td>
                <td colspan="2" class="greyColor" style="text-align: center;">2016-07-01 17:05:20</td>
                <td colspan="2" class="greyColor" style="text-align: center;">2022-06-18 12:47:03</td>
                <td colspan="1" style="text-align: center;"></td>
            </tr>
            <tr>
                <td colspan="2" class="greyColor2 font-size">场次</td>
                <td colspan="2" class="greyColor2 font-size">胜率</td>
                <td colspan="2" class="greyColor2 font-size">场均</td>
            </tr>
            <tr>
                <td colspan="2" class="blueColor font-size">{{battles}}</td>
                <td colspan="2" class="blueColor font-size" style="color: {{winsColor}}">{{wins}}%</td>
                <td colspan="2" class="blueColor font-size" style="color: {{damageColor}}">{{damage}}</td>
            </tr>
            <tr>
                <td colspan="2" class="greyColor2 font-size">击杀</td>
                <td colspan="2" class="greyColor2 font-size">人数</td>
                <td colspan="2" class="greyColor2 font-size">活跃</td>
            </tr>
            <tr>
                <td colspan="2" class="blueColor font-size">{{frags}}</td>
                <td colspan="2" class="blueColor font-size">39/40</td>
                <td colspan="2" class="blueColor font-size">{{activity}}%</td>
            </tr>
            <tr>
                <td colspan="6" class="blackColor" style="text-align: center;"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <div id="pieChart1" style="width: 260px;height:260px;"></div>
                    </div>
                </td>
                <td colspan="2">

                    <div id="pieChart2" style="width: 260px;height:260px;"></div>
                </td>
                <td colspan="2">

                    <div id="pieChart3" style="width: 260px;height:260px;"></div>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <div>
                        <canvas id="myChart" width="800" height="331"></canvas>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="bold-data greyColor2" style="text-align: center;">Clan Desciption</td>
            </tr>
            <tr>
                <td colspan="6">
                    不知道描述是啥总之先加上去点看起来有点东西好了
                </td>
            </tr>
            <tr>
                <td colspan="6" class="font-data greyColor" style="text-align: center;">
                    <span>© 西行寺雨季</span>&nbsp;&nbsp;<span>© 本心</span>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="font-data greyColor" style="text-align: center;">
                    <span>https://github.com/benx1n/wows-stats-bot</span>
                </td>
            </tr>
        </table>
    </div>
    {% if template_path and template_path/"Chart.min.js" and template_path/"chartjs-plugin-datalabels@1.0.0.js" %}
    <script src= "{{template_path}}\echarts.js"></script>
    {% else %}
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.3/dist/echarts.js"></script>
    {% endif %}

    <script>

        var myChart = echarts.init(document.getElementById('myChart'));
        var myChart1 = echarts.init(document.getElementById('pieChart1'));
        var myChart2 = echarts.init(document.getElementById('pieChart2'));
        var myChart3 = echarts.init(document.getElementById('pieChart3'));
        myChart.setOption(
            {
                xAxis: {
                    type: "category",
                },
                yAxis: {
                    type: "value",
                },
                color: ["#33CCFF", "#7ba3a8", " #bead92", "#f35a4a", "#5b4947"],
                dataset: {
                    source: [
                        ["Ⅰ", 0, 400, 00, 0, 0],
                        ["Ⅱ", 0, 430, 0, 0, 0],
                        ["Ⅲ", 0, 850, 0, 0, 0],
                        ["Ⅳ", 60, 170, 400, 0, 0],
                        ["Ⅴ", 901, 880, 360, 0, 0],
                        ["Ⅵ", 499, 800, 400, 100, 0],
                        ["Ⅶ", 600, 900, 600, 120, 0],
                        ["Ⅷ", 1100, 1000, 900, 900, 30],
                        ["Ⅸ", 600, 1200, 900, 1200, 20],
                        ["Ⅹ", 1500, 1400, 2000, 1000, 100],
                        ["Ⅺ", 300, 470, 700, 300, 0]
                    ]
                },
                series: [
                    { type: "bar", stack: "total", name: "DD", barWidth: 40},
                    { type: "bar", stack: "total", name: "CA" },
                    { type: "bar", stack: "total", name: "BB" },
                    { type: "bar", stack: "total", name: "CV" },
                    { type: "bar", stack: "total", name: "SS" },
                ],
                tooltip: {
                },
                grid: {
                    left: 0,
                    right: 12,
                    bottom: 0,
                    top: 40,
                    containLabel: true,
                },
                // 图例设置
                legend: {
                    top: 0,
                    left: -5,
                    icon: "circle",
                    itemHeight: 8, // 修改icon图形大小
                    itemGap: 24,
                    textStyle: {
                        fontSize: 16,
                        fontWeight: 'bold',
                        color: "#333",
                        padding: [0, 0, 0, -8], // 修改文字和图标距离
                    },
                }
            })
        myChart1.setOption({
            title: {
                text: this.title
            },
            color: ["#33CCFF", "#7ba3a8", " #bead92", "#f35a4a", "#5b4947"],
            series: [
                {
                    name: this.title,
                    type: 'pie',
                    selectedMode: 'single',
                    radius: ['40%', '92%'],
                    clockwise: false,
                    itemStyle: {
                        borderWidth: 5,
                        borderColor: '#fff'
                    },
                    label: {
                        position: 'inside',
                        formatter: '{b}\n{d}%',
                        fontSize: 15,
                        fontWeight: 'bold',
                    },
                    data: [
                        { value: 1000, name: 'DD' },
                        { value: 1700, name: 'CA' },
                        { value: 3000, name: 'BB' },
                        { value: 2500, name: 'CV' },
                        { value: 100, name: 'SS' }
                    ]
                }
            ],
            graphic: {
                elements: [{
                    type: 'text', 
                    left: 'center',
                    top: 'center',
                    style: {
                        text: '舰船\n场次',
                        fontSize: 25, 
                        textAlign: 'center', 
                        width: 30,
                        height: 30,
                        fill: 'darkgray'
                    }
                }]
            }
        })

        myChart2.setOption({
            title: {
                text: this.title
            },
            color: ["#33CCFF", "#7ba3a8", "#f35a4a", " #bead92"],
            series: [
                {
                    name: this.title,
                    type: 'pie',
                    selectedMode: 'single',
                    radius: ['40%', '92%'],
                    clockwise: false,
                    itemStyle: {
                        borderWidth: 5,
                        borderColor: '#fff'
                    },
                    label: {
                        position: 'inside',
                        formatter: '{b}\n{d}%',
                        fontSize: 15,
                        fontWeight: 'bold',
                    },
                    data: [
                        { value: 1400, name: '单野' },
                        { value: 2700, name: '自行车' },
                        { value: 4600, name: '三轮车' },
                        { value: 1200, name: '排位' }
                    ]
                }
            ],
            graphic: {
                elements: [{
                    type: 'text',
                    left: 'center',
                    top: 'center',
                    style: {
                        text: '组队\n场次',
                        fontSize: 25,
                        textAlign: 'center',
                        width: 30,
                        height: 30,
                        fill: 'darkgray'
                    }
                }]
            }
        })
        myChart3.setOption({
            title: {
                text: this.title
            },
            color: ["#FE0E00", "#FE7903", "#FFC71F", " #44B300", "#318000", "#02C9B3", "#D042F3", "#A00DC5"],
            series: [
                {
                    name: this.title,
                    type: 'pie',
                    selectedMode: 'single',
                    radius: ['40%', '92%'],
                    clockwise: false,
                    itemStyle: {
                        borderWidth: 5,
                        borderColor: '#fff'
                    },
                    label: {
                        position: 'inside',
                        formatter: '{b}\n{d}%',
                        fontSize: 15,
                        fontWeight: 'bold',
                    },
                    data: [
                        { value: 0, name: '还需努力' },
                        { value: 0, name: '低于平均' },
                        { value: 2, name: '平均水平' },
                        { value: 4, name: '好' },
                        { value: 4, name: '很好' },
                        { value: 6, name: '非常好' },
                        { value: 11, name: '大佬' },
                        { value: 7, name: '神佬' },
                    ]
                }
            ],
            graphic: {
                elements: [{
                    type: 'text',
                    left: 'center',
                    top: 'center',
                    style: {
                        text: 'PR\n分布',
                        fontSize: 25,
                        textAlign: 'center',
                        width: 30,
                        height: 30,
                        fill: 'darkgray'
                    }
                }]
            }
        })
    </script>
</body>

</html>